.cart {
    flex-wrap: wrap;

    .cart-header {
        width: 100%;
        height: 60px;
        margin-top: 80px;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: var(--ui-dark-grey);
        color: white;

        .cart-header-right {
            button.checkout {
                padding: 10px 20px;
                border-radius: 5px;
                cursor: pointer;
                background: var(--ui-primary);
                color: white;
            }
        }
    }

    .cart-items {
        height: calc(100vh - 80px);
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        padding: 20px;
       

        .cart-item {
            width: 400px;
            position: relative;
            background: var(--ui-black);
            color: white;
            padding: 10px;
            margin: 10px;
            border-radius: 10px;
            cursor: pointer;

            .item-meta {
                display: flex;
                justify-content: space-around;

                .item-img {
                    width: 200px;
                    background: white;
                    margin: 10px;
                }

                .item-sub-meta {
                    display: flex;
                    flex-direction: column;

                    .item-title {
                        font-family: "Edu TAS Beginner", cursive;
                        font-size: 16px;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}