.landing {
    width: 100%;
    height: 100vh;
    margin-top: 50px;
    overflow: scroll;
    
    .content-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 8px;
        width: 100%;
        height: calc(100vh - 100px);
        padding: 10px;

        .partition {
            border-radius: 30px;
        }

        .p-1 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            grid-column: span 2 / span 2;
            padding: 0 60px;

            .typed-quote {
                font-family: "Edu TAS Beginner", cursive;
                font-size: 32px;
                font-weight: 600;
            }
        }

        .p-2 {
            grid-column: span 2 / span 2;
            grid-row: span 2 / span 2;
            grid-column-start: 1;
            grid-row-start: 2;
            background: black;
        }
        
        .p-3 {
            grid-row: span 2 / span 2;
            grid-column-start: 3;
            background: var(--ui-primary);
            grid-row-start: 1;
        }
        
        .p-4 {
            position: relative;
            grid-column-start: 3;
            grid-row-start: 3;
            background-image: url("/images/shop-placeholder-img.png");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            position: relative;

            .shop-text {
                position: absolute;
                top: 10px;
                left: 10px;
                padding: 4px 12px;
                border-radius: 10px;
                font-family: "Edu TAS Beginner", cursive;
                font-size: 24px;
                font-weight: 600;
            }

            .shop-link {
                position: absolute;
                top: 70%;
                left: 50%;
                transform: translate(-50%, -50%);
                background: white;
                font-size: 24px;
                border-radius: 28px;
                padding:  10px 18px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
            }
        }
    }

    .lp-blog-section-title {
        position: sticky;
        top: 0;
        margin-top: 20px;
        padding: 10px 20px;
        background: white;
    }

    .lp-from-the-blog {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        background: white;
    }

    .footer {
        position: relative;
        background: black;
        display: flex;
        justify-content: space-between;
        color: white;
        padding: 10px 20px;
        padding-bottom: 80px;

        .about-section {
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 8px;

            .about-title {
                font-family: "Permanent Marker", "Roboto", sans-serif;
                font-size: 24px;
            }

            .about-content {
                width: 400px;
                color: var(--ui-light-grey);
            }
        }

        .newsletter-sub {
            display: flex;
            flex-direction: column;
            gap: 8px;

            span {
                font-family: "Edu TAS Beginner", cursive;
                font-size: 18px;
                font-weight: 600;
            }

            .nr-sub-field {
                position: relative;
                border-radius: 8px;
                background: var(--ui-dark-grey);
                width: 350px;
                
                input {
                    width: 100%;
                    border-radius: inherit;
                    padding: 12px;
                    background: transparent;
                    color: white;
                }

                .nr-sub-button {
                    position: absolute;
                    background: white;
                    top: 50%;
                    right: 10px;
                    transform: translateY(-50%);
                    padding: 6px 8px;
                    border-radius: 8px;
                    cursor: pointer;
                }
            }

            .socials {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 16px;

                .social {
                    display: grid;
                    place-items: center;
                    width: 40px;
                    height: 40px;
                    font-size: 20px;
                    border-radius: 50%;
                    background: var(--ui-dark-grey);
                    cursor: pointer;
                    transition: all 0.3s ease;

                    &:hover {
                        background: white;
                        color: black;
                    }
                }
            }
        }

        .trademark {
            position: absolute;
            bottom: 40px;
            left: 20px;
            color: var(--ui-light-grey);
        }
    
        .co-links {
            position: absolute;
            bottom: 40px;
            right: 60px;

            display: flex;
            gap: 16px;
            color: var(--ui-light-grey);
            
            .co-link {
                cursor: pointer;
            }
        }
    }

}