.profile {
    display: flex;
    color: white;
    
    .profile-meta {
        width: 40%;
        margin: 100px auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        
        background: var(--ui-dark-grey);
        border-radius: 10px;
        padding: 20px;

        .profile-pic {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            margin: 50px auto;
            background: var(--ui-white);
            font-size: 50px;
            border: 1px solid var(--ui-black);
            color: black;
            display: grid;
            place-items: center;
        }

    }

    .activity {
        width: 40%;
        margin: 100px auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        
        background: var(--ui-dark-grey);
        border-radius: 10px;
        padding: 20px;

        .activity-header {
            font-size: 24px;
            font-weight: 500;
            margin-bottom: 20px;
            border-bottom: 2px solid white;
            padding-inline: 40px;
        }

        .activity-content {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            color: black;

            .activity-item {
                height: 200px;
                background: var(--ui-white);
                border-radius: 10px;
                margin: 10px;
                padding: 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;

                .activity-icon {
                    font-size: 50px;
                    margin-bottom: 20px;
                }

                .activity-title {
                    font-size: 20px;
                    font-weight: 500;
                    margin-bottom: 10px;
                }

                .activity-description {
                    font-size: 16px;
                    text-align: center;
                }
            }
        }
    }
}