.events {
    .no-events {
        width: 400px;
        height: 200px;
        background: white;
        border-radius: 10px;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        display: grid;
        place-items: center;
    }
}