.admin-users {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    overflow-y: scroll;
    min-width: calc(100vw - 80px);
    margin-top: 100px;    

    .admin-tab-title {
        position: fixed;
        top: 40px;
        left: 120px;
    }

    button.new-user-btn {
        position: fixed;
        top: 60px;
        right: 60px;
        width: 120px;
        padding: 8px 20px;
        background: var(--ui-primary);
        color: white;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
            background: var(--ui-light-black);
        }
    }

    .users-loader {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

        }

    .admin-user-wrapper {
        position: relative;
        display: flex;
        width: 400px;
        height: 200px;
        background: var(--ui-primary);
        color: black;
        margin: 20px 10px;
        border-radius: 10px;
        padding: 20px;

        .admin-user-img {
            width: 30%;
            height: 100%;
            display: grid;
            place-items: center;
            font-size: 60px;
        }

        .admin-user-meta {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .id {
                position: absolute;
                top: 5px;
                right: 5px;
                font-size: 12px;
                font-family: 'Edu TAS Beginner', cursive;
                font-weight: 600;
            }
        }

        .admin-user-btns {
            position: absolute;
            bottom: 10px;
            right: 10px;
            display: flex;
        }
    }

    .users-fetch-error {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white;
    }

    .pagination-btns {

        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 80%;
        margin: auto;
       

        span {
            color: var(--ui-black);
        }

        button {
            width: 40px;
            height: 40px;
            display: grid;
            place-items: center;
            border-radius: 50%;
            background: black;
            color: white;
            font-size: 30px;
            cursor: pointer;
            transition: all 0.3s ease;

            &:hover {
                transform: scale(1.05);
            }
        }
    }
}

/* Mobile */
@media (max-width: 768px) {
    .admin-users {
        height: 100%;
        overflow-x: hidden;

        .top-mobile-placeholder {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 150px;
            background: var(--ui-black);
            z-index: 1;
        }

        .admin-tab-title {
            position: sticky;
            top: 0;
            z-index: 1;
        }

        button.new-user-btn {
            position: fixed;
            top: 20px;
            right: 20px;
            z-index: 1;
        }

        .admin-user-wrapper {
            width: 100%;
            background: var(--ui-primary);
            color: white;
        }
    }
}