.admin-navbar {
    position: fixed;
    top: 40px;
    left: 0;
    width: 80px;
    height: calc(100vh - 40px);
    //background: var(--ui-light-black);
    border-right: 1px solid white;
    color: var(--ui-white);

    .links {
        position: absolute;
        top: 10px;
        width: 100%;
        height: calc(100vh - 60px);

        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;

        .link {
            position: relative;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 24px;
            margin-block: 30px;
            overflow: visible;
            cursor: pointer;
            transition: all 0.3s ease;

            span {
                position: absolute;
                top: 100%;
                width: 80px;
                text-align: center;
                color: white;
                opacity: 0;
                font-family: 'Edu TAS Beginner', cursive;
                font-size: 16px;
                transition: all 0.3s ease;
            }


            &:hover, &.active {
                background: var(--ui-white);
                color: var(--ui-black);
            }

            &:hover, &.active {span {opacity: 1;}}
        }
    }
}

/* Mobile */
@media (max-width: 768px) {
    .admin-navbar {
        width: 100vw;
        height: 50px;
        top: auto;
        bottom: 0;

        .links {
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;

            flex-direction: row;
            padding: 0;

            .link {
                width: calc(100% / 6);
                height: 100%;
                border-radius: 3px;

                span {
                    display: none;
                }
            }

        }
    }
}