.admin-users {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: scroll;
    min-width: calc(100vw - 80px);
    height: 100vh;

    .searchbar {
        width: 300px;
        position: absolute;
        top: 20px;
        right: 200px;
        background-color: var(--ui-white);
        padding: 8px 20px;
        border-radius: 10px;

        input {
            width: 92%;
        }

        i {
            color: black;
            cursor: pointer;
        }
    }

    button.new-user-btn {
        position: absolute;
        top: 20px;
        right: 60px;
        width: 120px;
        padding: 8px 20px;
        background: white;
        color: black;
        border-radius: 10px;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
            color: white;
            background: var(--ui-primary);
        }
    }

    .admin-user-wrapper {
        position: relative;
        display: flex;
        width: 500px;
        height: 200px;
        background: var(--ui-white);
        margin: 20px;
        color: black;
        border-radius: 10px;
        padding: 20px;

        .admin-user-img {
            width: 30%;
            height: 100%;
            display: grid;
            place-items: center;
            font-size: 60px;
            color: black;
        }

        .admin-user-meta {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .id {
                position: absolute;
                top: 5px;
                right: 5px;
                font-family: 'Edu TAS Beginner';
                font-weight: 600;
            }
        }

        .admin-user-btns {
            position: absolute;
            bottom: 10px;
            right: 10px;
            display: flex;

            button {
                background: black;
                color: white;
                border-radius: 5px;
                padding: 5px 10px;
                margin-inline: 10px;
                cursor: pointer;

                &.manage-btn {
                    background: var(--ui-primary);
                }

                &.remove-btn {
                    background: var(--ui-secondary);
                }
            }
        }
    }

    .users-fetch-error {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white;
    }

    .pagination-btns {
        width: 60%;
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 100px;

        button {
            width: 40px;
            height: 40px;
            display: grid;
            place-items: center;
            border-radius: 50%;
            background: white;
            color: black;
            font-size: 30px;
            cursor: pointer;
            transition: all 0.3s ease;

            &:hover {
                transform: scale(1.2);
            }
        }
    }
}

/* Mobile */
@media (max-width: 768px) {
    .admin-users {
        height: 100%;

        .searchbar {
            position: relative;
            top: auto;
            left: auto;
            right: auto;
        }

        button.new-user-btn {
            right: 10px;
        }

        .admin-user-wrapper {
            width: 100%;
        }
    }
}