.blog {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 50px);
    margin-top: 50px;
    background: var(--ui-white);
    overflow: auto;

    .blog-header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        width: 100%;
        gap: 8px;

        position: sticky;
        top: 0;
        background: var(--ui-white);

        .blog-header-text {
            p {
                font-family: "Edu TAS Beginner", cursive;
                font-size: 18px;
            }
            
        }
        
        .blog-search {
            display: flex;
            align-items: center;
            background: var(--ui-light-grey);
            border-radius: 10px;
            width: 400px;

            input {
                padding: 8px 16px;
                width: 100%;
                height: 100%;
                background: transparent;
            }
            i {
                padding: 12px;
                cursor: pointer;
            }
        }
    }

    .blog-list {
        display: flex;
        flex-wrap: wrap;
    }
}