.checkout {
    margin-top: var(--header-height);

    .checkout-header {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
		justify-content: flex-end;
        background: var(--ui-black);
		color: white;
        padding: 20px 40px;

        .checkout-title {
			position: absolute;
			left: 40px;
            font-size: 20px;
            font-family: 'Edu TAS Beginner', cursive;
        }


        button.order-btn, button.cart-btn {
            padding: 10px 30px;
            border-radius: 5px;
            background: var(--ui-primary);
            color: white;
            cursor: pointer;
			margin-inline: 20px;
        }

		button.cart-btn {
			background: var(--ui-secondary);
		}
    }

    .checkout-wrapper {
        position: absolute;
        width: 100vw;
        height: 520px;
		
		.loader {
			position: fixed;
			top: 40%;
			left: 50%;
		}
		
		.checkout-slide {
			height: 500px;
			padding-bottom: 80px;
			display: flex;
			align-items: center;
			justify-content: center;

			.checkout-slide-content {
				width: 100%;
				height: 100%;

				.checkout-slide-title {
					position: fixed;
					top: 20px;
					left: 80px;
					font-size: 30px;
					font-family: 'Edu TAS Beginner', cursive;
				}

				.items {
					display: flex;
					flex-direction: column;
					align-items: center;
					overflow-y: scroll;
					height: 100%;
					margin-top: 40px;

					.item {
						position: relative;
						width: 600px;
						height: 200px;
						display: flex;
						background: black;
						border-radius: 10px;
						margin-block: 10px;
						padding-inline: 10px;

						.item-image {
							width: 200px;
							height: 200px;


							img {
								width: 100%;
								height: 100%;
								object-fit: scale-down;
							}
						}

						.item-title {
							width: calc(100% - 100px);
							color: white;
							margin-top: 20px;
							margin-inline: 10px;
						}

						.item-quantity {
							position: absolute;
							bottom: 10px;
							right: 150px;
							color: white;
						}

						.item-price {
							position: absolute;
							bottom: 10px;
							right: 10px;
							color: white;
						}
					}
				}
			}
		}


        .slides-nav-btns {
			position: absolute;
			top: 10%;
			color: black;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 20px;
			width: 100%;

			.prev-slide-btn, .next-slide-btn {
				width: 40px;
				height: 40px;
				border-radius: 50%;
				font-size: 35px;
				background: black;
				color: white;
				display: grid;
				place-items: center;
				z-index: 99;
				cursor: pointer;
				transition: all 0.3s ease;
				
				&:hover {
					background: var(--ui-white);
					color: black;
					border: 1px solid black;
				}
			}
		}
    }
}