.checkout {
    margin-top: var(--header-height);

    .checkout-header {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
		justify-content: flex-end;
        background: var(--ui-black);
		color: white;
        padding: 20px 40px;

        .checkout-title {
			position: absolute;
			left: 40px;
            font-size: 20px;
            font-family: 'Edu TAS Beginner', cursive;
        }


        button.order-btn, button.cart-btn {
            padding: 10px 30px;
            border-radius: 5px;
            background: var(--ui-primary);
            color: white;
            cursor: pointer;
			margin-inline: 20px;
        }

		button.cart-btn {
			background: var(--ui-secondary);
		}
    }

	.checkout-wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		background: white;
		width: 100%;
		height: 500px;
		padding: 20px;

		.left {
			width: 60%;
			height: 100%;

			.left-title {
				font-size: 24px;
				font-family: 'Edu TAS Beginner', cursive;
				font-weight: 600;
				border-bottom: 1px solid gray;
			}

			form {
				display: flex;
				flex-wrap: wrap;
				padding: 20px;

				.form-section {
					margin: 20px;

					.section-title {
						font-size: 20px;
						font-family: 'Edu TAS Beginner', cursive;
						font-weight: 600;
					}
	
					.fields {
						.field {
							display: grid;
							margin: 10px;
	
							input, select {
								width: 300px;
								padding: 2px 5px;
								border: 1px solid black;
								border-radius: 3px;
							}
						}
					}
				}
			}
		}

		.right {
			width: 35%;
			height: 100%;
			padding-inline: 30px;

			.right-title {
				font-size: 24px;
				font-family: 'Edu TAS Beginner', cursive;
				font-weight: 600;
				border-bottom: 1px solid gray;
				margin-bottom: 4px;
			}

			.summary {
				overflow-x: hidden;
				overflow-y: scroll;
				height: 350px;

				.item {
					position: relative;
					width: 90%;
					display: flex;
					background: rgb(182, 176, 176);
					margin: 10px auto;
					border-radius: 5px;

					.item-image {
						width: 100px;
						height: 100px;

						img {
							width: 100%;
							height: 100%;
							object-fit: scale-down;
							border-radius: 5px;
						}
					}

					.item-meta {
						margin-inline: 10px;

						.title, .quantity {
							font-family: 'Edu TAS Beginner', cursive;
							font-weight: 600;
						}
					}

					.price {
						position: absolute;
						bottom: 5px;
						right: 10px;
					}
				}
			}

			.total {
				display: flex;
				align-items: center;
				justify-content: space-between;
				font-weight: 600;
				border-top: 2px solid black;
				padding: 20px;
			}
		}
	}
}