.new-art {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	
	.form-wrapper {
		position: relative;
		width: 500px;
		height: 90vh;
		background: white;
		border-radius: 10px;

		.back-btn {
			position: absolute;
			top: 40px;
			right: 40px;
			width: 30px;
			height: 30px;
			font-size: 20px;
			border-radius: 50%;
			transition: all 0.3s ease;
			cursor: pointer;
			z-index: 99;

			&:hover {
				background: var(--ui-black);
				color: var(--ui-white);
			}
		}
	}
}

.form-slide {
	position: relative;
	width: 100%;
	height: 90vh;
	display: flex;
	justify-content: center;
	
	.slide-logo {
		position: absolute;
		top: 20px;
		left: 20px;
		color: black;
		font-family: 'Edu TAS Beginner', cursive;
		font-size: 24px;
		
		img {
			width: 180px;
		}
		
		span {
			color: var(--ui-primary);
			font-weight: 600;
			margin-left: 4px;
		}
	}

	.slide-title {
		position: absolute;
		top: 100px;
		color: black;
		font-family: 'Edu TAS Beginner', cursive;
		font-size: 24px;
		font-weight: 600;
		text-decoration: underline;
	}
	
	.slide-content {
		width: 80%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		
		.field {
			width: 100%;
			position: relative;
			margin-block: 20px;
			overflow: hidden;
			
			label {
				font-family: monospace;
			}
			
			input {
				width: 100%;
				padding: 4px 10px;
				border: 2px solid var(--ui-black);
				border-radius: 6px;
				font-size: 16px;
				font-weight: 600;
				transition: all 0.3s ease;
				
				
				&::placeholder {
					font-size: 12px;
					font-weight: 600;
				}
				
				&:active, &:focus, &:not(:empty) {
					border: 2px solid var(--ui-primary);
				}
			}

			textarea {
				width: 100%;
				height: 200px;
				padding: 10px;
				border: 2px solid var(--ui-black);
				border-radius: 6px;
				font-size: 16px;
				font-weight: 600;
				transition: all 0.3s ease;
				
				&::placeholder {
					font-size: 12px;
					font-weight: 600;
				}
				
				&:active, &:focus, &:not(:empty) {
					border: 2px solid var(--ui-primary);
				}
			}

			select {
				width: 100%;
				padding: 4px 10px;
				border: 2px solid var(--ui-black);
				border-radius: 6px;
				font-size: 16px;
				font-weight: 600;
				transition: all 0.3s ease;
				
				&::placeholder {
					font-size: 12px;
					font-weight: 600;
				}
				
				&:active, &:focus, &:not(:empty) {
					border: 2px solid var(--ui-primary);
				}
			}

			option {
				color: black;
			}
			
			&.image-input {
				position: relative;
				height: 200px;
				border: 1px dashed var(--ui-black);
				padding: 20px;
				cursor: pointer;
				
				input {
					position: absolute;
					padding: 0;
					border-radius: 0;
					top: 0;
					left: 0;
					border: none;
					width: 100%;
					height: 100%;
					display: none;
				}

				/* Input button */
				input  {
					position: absolute;
					width: 100%;
					height: 100%;
					transform: translate(-50%, -50%);
					font-size: 40px;
				}
				
				i {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					font-size: 40px;
				}
				
				label {
					position: absolute;
					top: 70%;
					left: 50%;
					transform: translate(-50%, -50%);
					font-size: 20px;
					font-weight: 600;
					color: var(--ui-black);

					ul {
						position: absolute;
						top: -120px;
						left: -180px;
						width: 500px;
					}

					ul li {
						font-size: 12px;
						font-weight: 400;
					}
				}
				
			}

		}

		button.submit-btn {
			position: absolute;
			left: 50%;
			bottom: 80px;
			transform: translateX(-50%);
			width: 200px;
			padding: 10px;
			border-radius: 6px;
			background: var(--ui-black);
			color: white;
			font-family: 'Edu TAS Beginner', sans-serif;
			font-size: 16px;
			font-weight: 600;
			cursor: pointer;
			transition: all 0.3s ease;
			
			&:hover {
				background: var(--ui-primary);
			}

			&.disabled {
				background: gray;
				cursor: not-allowed;

				&:hover {
					background: gray;
				}
			}
		}
	}
}

.slides-nav-btns {
	position: absolute;
	bottom: 20px;
	color: black;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	width: 100%;

	.prev-slide-btn, .next-slide-btn {
		width: 30px;
		height: 30px;
		border-radius: 50%;
		font-size: 25px;
		background: black;
		color: white;
		display: grid;
		place-items: center;
		z-index: 99;
		cursor: pointer;
		transition: all 0.3s ease;
		
		&:hover {
			background: var(--ui-white);
			color: black;
			border: 1px solid black;
		}
	}
}

.loader {
	margin-top: 100px;
}

/* Mobile */
@media (max-width: 768px) {
	.new-art .form-wrapper {
		border-radius: 0;
		height: 100vh;
		width: 100%;

		.back-btn {
			background: var(--ui-black);
			color: var(--ui-white);
		}
	}
}