.sign-in, .sign-up {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .form-wrapper {
    width: 50%;
    height: 100%;
    background: var(--ui-white);
    display: flex;


    .left {
      width: 50%;
      background: #232526;
      background: -webkit-linear-gradient(to right, #414345, #232526);
      background: linear-gradient(to right, #414345, #232526);
      color: white;
      padding: 20px;

      .brand {
        font-family: 'Honk', sans-serif;
        font-size: 20px;
        font-weight: 700;
        width: 80px;
      }

      .large-text {
        font-size: 38px;
        font-weight: 600;
        padding: 20px;
      }

      .small-text {
        padding: 20px;
        font-family: monospace;
      }
    }

    .right {
      width: 50%;
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;

      .back-btn {
        position: absolute;
        top: 20px;
        right: 40px;
        font-size: 24px;
        width: 30px;
        height: 30px;
        display: grid;
        place-items: center;
        border-radius: 50%;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
          color: white;
          background: var(--ui-primary);
        }
      }

      .form-title {
        width: 100%;
        font-size: 30px;
        font-weight: 600;
        text-align: left;
        margin: 20px;
        color: var(--ui-primary);
      }

      .fields {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 30%;

        .field {
          width: 100%;
          position: relative;

          label {
            font-family: monospace;
          }

          input {
            width: 100%;
            padding: 4px 10px;
            border: 2px solid var(--ui-black);
            border-radius: 6px;
            font-family: 'Edu TAS Beginner', sans-serif;
            font-size: 16px;
            font-weight: 600;
            transition: all 0.3s ease;

            &::placeholder {
              font-family: 'Ubuntu', sans-serif;
              font-size: 12px;
              font-weight: 600;
            }

            &:active, &:focus, &:not(:empty) {
              border: 2px solid var(--ui-primary);
            }
          }

          .input-valid-icon {
            position: absolute;
            font-size: 20px;
            top: 70%;
            right: 15px;
            transform: translateY(-50%);
            color: green;

            i.invalid {
              color: red;
            }
          }

          &.checkbox {
            display: flex;
            align-items: center;
            justify-content: center;
            
            input {
              width: 16px;
              height: 16px;
              margin-right: 10px;
            }

            label {
              font-size: 16px;
            }
          }
        }
      }

      .error-message {
        width: 100%;
        text-align: center;
        color: red;
        font-family: 'Edu TAS Beginner', sans-serif;
        font-size: 16px;
        font-weight: 700;
        margin-block: 10px;
      }

      button.submit {
        width: 100%;
        padding: 10px 20px;
        border-radius: 10px;
        background: var(--ui-black);
        color: white;
        font-family: monospace;
        font-size: 18px;
        font-weight: 600;
        cursor: pointer;
        transition: all 0.3s ease;
        margin-block: 40px;

        &:hover {
          background: transparent;
          background: var(--ui-primary);
        }
      }

      .spinner {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-block: 40px;
      }

      .or {
        position: relative;
        width: 100%;
        height: 2px;
        background: black;
        margin-bottom: 20px;

        &::after {
          content: 'or';
          position: absolute;
          width: 10%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background: white;
          color: black;
          text-align: center;
        }
      }

      .other-links {
        width: 100%;
        margin-bottom: 10px;

        .link {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          border: 2px solid var(--ui-primary);
          border-radius: 5px;
          padding: 10px 20px;
          margin-block: 10px;
          cursor: pointer;


          .icon {
            width: 20%;
            height: 30px;
            font-size: 24px;
            display: flex;
            align-items: center;
            justify-content: flex-start;

          }

          span {
            width: 80%;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }

      .form-footer {
        font-size: 16px;
        
        a {
          font-weight: 600;
          text-decoration: none;
          color: var(--ui-primary);
          cursor: pointer;
        }
      }
    }
  }
}