.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 80px;
    color: var(--ui-black);
    background: var(--ui-black);

    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-left: 80px;
    transition: all 0.2s ease;
    z-index: 999;

    .left {
        color: white;
        font-family: "Permanent Marker", cursive;
        font-size: 24px;
        cursor: pointer;
    }

    .right {

        .user-logged-in {
            

            .menu-icon{
                width: 40px;
                height: 40px;
                margin-inline: 20px;
                display: grid;
                place-items: center;
                border-radius: 50%;
                background: var(--ui-white);
                font-size: 24px;
                transition: all 0.3s ease;
                cursor: pointer;
    
                &:hover {
                    background: var(--ui-primary);
                    color: var(--ui-white);
                }

                @media (max-width: 768px) {
                    position: fixed;
                    top: 30px;
                    right: 20px;
                }
            }

            .options {
                position: fixed;
                flex-direction: column;
                padding: 10px 20px;
                top: 80px;
                right: 20px;
                background: var(--ui-dark-grey);
                border-radius: 10px;
                transition: all 0.3s ease;
                z-index: 999;

                .option {
                    color: var(--ui-white);
                    padding: 10px 20px;
                    width: 100%;
                    transition: all 0.3s ease;
                    border-radius: 10px;
                    cursor: pointer;


                    i {
                        font-size: 20px;
                        margin-inline: 10px;
                    }

                    span {
                        margin-inline: 10px;
                        width: 80px;
                        text-align: center;
                    }

                    &:hover {
                        background: var(--ui-primary);
                        color: white;
                    }

                    &.admin {
                        background: var(--ui-secondary);
                        margin-top: 20px;
                    }

                }

                &.hidden {
                    top: -500px;
                }
            }
            
        }

        .user-not-signed-in-buttons {
            display: flex;

            button {
                padding: 10px 20px;
                margin-inline: 20px;
                border: none;
                border-radius: 5px;
                background: transparent;
                color: var(--ui-white);
                font-size: 16px;
                font-weight: 600;
                cursor: pointer;
                transition: all 0.3s ease;

                &.join-btn {
                    background: var(--ui-primary);
                }

                &.log-in-btn {
                    background: var(--ui-secondary);
                }
            }

            @media (max-width: 768px) {
                position: fixed;
                top: 20px;
                right: 0;

                button {
                    margin-inline: 10px;
                }
            }
        }
    }
}