.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: var(--header-height);
    color: white;
    background: var(--ui-black);

    display: flex;
    padding: 20px;
    padding-left: 80px;
    z-index: 9999;

    .left {
        .logo {
            position: absolute;
            left: 10%;
            font-family: 'Honk', sans-serif;
            font-size: 30px;
            cursor: pointer;
            display: grid;
            place-items: center;
            
        }
    }

    .right {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        justify-content: flex-end;
        padding: 20px 40px;

        .user-logged-in {
            display: flex;

            .menu-icon, .add-art-btn {
                width: 40px;
                height: 40px;
                margin-inline: 20px;
                display: grid;
                place-items: center;
                border-radius: 50%;
                font-size: 24px;
                transition: all 0.3s ease;
                cursor: pointer;
    
                &:hover {
                    color: var(--ui-black);
                    background: var(--ui-white);
                }

                @media (max-width: 768px) {
                    position: fixed;
                    top: 30px;
                    right: 20px;
                }
            }

            .add-art-btn {
                @media (max-width: 768px) {
                    right: 80px;
                }
            }

            .options {
                position: fixed;
                flex-direction: column;
                padding: 10px 20px;
                top: 80px;
                right: 20px;
                background: white;
                border-radius: 10px;
                transition: all 0.3s ease;
                z-index: 999;

                .option {
                    color: black;
                    padding: 10px 20px;
                    width: 100%;
                    transition: all 0.3s ease;
                    border-radius: 10px;
                    cursor: pointer;


                    i {
                        font-size: 20px;
                        margin-inline: 10px;
                    }

                    span {
                        margin-inline: 10px;
                        width: 80px;
                        text-align: center;
                    }

                    &:hover {
                        background: var(--ui-primary);
                        color: white;
                    }

                    &.admin {
                        background: var(--ui-secondary);
                        margin-top: 20px;
                    }

                    @media (min-width: 768px) {
                        &.sign-out {display: none;}
                    }
                }

                &.hidden {
                    top: -500px;
                }
            }
            
        }

        .user-not-signed-in-buttons {
            display: flex;

            button {
                padding: 10px 20px;
                margin-inline: 20px;
                border: none;
                border-radius: 5px;
                background: transparent;
                color: var(--ui-white);
                font-size: 16px;
                font-weight: 600;
                cursor: pointer;
                transition: all 0.3s ease;

                &.join-btn {
                    background: var(--ui-primary);
                }

                &.log-in-btn {
                    background: var(--ui-secondary);
                }
            }

            @media (max-width: 768px) {
                position: fixed;
                top: 20px;
                right: 0;

                button {
                    margin-inline: 10px;
                }
            }
        }
    }
}