.navbar {
    position: fixed;
    top: var(--header-height);
    left: 0;
    width: var(--navbar-width);
    height: calc(100vh - var(--header-height));
    border-right: 1px solid white;
    color: var(--ui-white);

    .links {
        position: absolute;
        top: 40px;
        width: 100%;
        height: calc(100vh - 120px);

        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;

        .link {
            position: relative;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 24px;
            margin-block: 30px;
            cursor: pointer;
            transition: all 0.3s ease;
            overflow: visible;

            span {
                position: absolute;
                top: 100%;
                width: 80px;
                text-align: center;
                color: white;
                opacity: 0;
                font-family: 'Edu TAS Beginner', cursive;
                font-size: 16px;
                transition: all 0.3s ease;
            }

            &.logout {
                position: absolute;
                bottom: 40px;
            }


            &:hover:has(i), &.active {
                background: var(--ui-white);
                color: var(--ui-black);
            }


            &:hover, &.active{
                span {
                    opacity: 1;
                }
            }
        }
    }
}

/* Mobile */
@media (max-width: 768px) {
    .navbar {
        width: 100vw;
        height: 50px;
        top: auto;
        bottom: 0;

        .links {
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;

            flex-direction: row;
            padding: 0;

            .link {
                width: calc(100% / 3);
                height: 100%;
                border-radius: 3px;

                span {
                    display: none;
                }

                &.logout {
                    display: none;
                }
            }

        }
    }
}