.art-listings {
    position: fixed;
    top: calc(var(--header-height));
    left: calc(var(--navbar-width) + 20px);
    width: calc(100vw - var(--navbar-width) - 20px);
    height: calc(100vh - var(--header-height) - 50px);
    scroll-behavior: smooth;
    overflow-y: scroll;
    overflow-x: hidden;

    flex-wrap: wrap;
    align-items: flex-start;

    .loader {
        position: fixed;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .pieces {
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}

/* Mobile */
@media (max-width: 768px) {
    .art-listings {
        left: 0;
        width: 100vw;
        flex-direction: column;
    }
}