.art-listings {
    position: fixed;
    top: calc(var(--header-height) + 20px);
    left: calc(var(--navbar-width) + 20px);
    width: calc(100vw - var(--navbar-width) - 40px);
    height: calc(100vh - var(--header-height) - 40px);
    scroll-behavior: smooth;
    overflow-y: scroll;

    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
}