.art-listings {
    position: fixed;
    top: calc(var(--header-height));
    left: calc(var(--navbar-width) + 20px);
    width: calc(100vw - var(--navbar-width) - 20px);
    height: calc(100vh - var(--header-height));
    scroll-behavior: smooth;
    overflow-y: scroll;
    overflow-x: hidden;

    flex-wrap: wrap;
    align-items: flex-start;

    .searchbar {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 350px;
        background: white;
        border-radius: 5px;
        z-index: 999999999;
        
        input {
            background: transparent;
            width: 100%;
            height: 100%;
            padding: 10px;
        }

        i {
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
            font-size: 20px;
            cursor: pointer;
        }
    }

    .loader {
        position: fixed;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .pieces {
        display: flex;
        flex-wrap: wrap;
        margin-top: 80px;
    }

    .navigation-btns {
        width: 100%;
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-inline: 80px;

        span {
            color: white;
        }

        button {
            width: 40px;
            height: 40px;
            display: grid;
            place-items: center;
            border-radius: 50%;
            background: white;
            color: black;
            font-size: 30px;
            cursor: pointer;
            transition: all 0.3s ease;

            &:hover {
                transform: scale(1.2);
            }
        }
    }
}

/* Mobile */
@media (max-width: 768px) {
    .art-listings {
        left: 0;
        width: 100vw;
        flex-direction: column;
    }
}