/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&family=Permanent+Marker&family=Roboto&display=swap');

/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
  border: none;
  outline: none;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

/* Colors */
:root {
  --ui-primary: #DF2935;
  --ui-secondary: #3772FF;
  --ui-tertiary: #FDCA40;
  --ui-black: #080708;
  --ui-light-black: #1E1E1E;
  --ui-light-grey: #F0F0F0;
  --ui-dark-grey: #2E2E2E;
  --ui-white: #FFF;
}


/* Custom scrollbar */
::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  width: 2px;
  background: black;
}
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}


/* Custom classes */
.primary {
  color: var(--ui-primary);
}

.fl-c {
	display: flex;
	align-items: center;
}

.fl-c-c { // Display flex, align center, justify center
	display: flex;
	align-items: center;
	justify-content: center;
}

.fl-c-ar { // Display flex, align center, justify space-around
	display: flex;
	align-items: center;
	justify-content: space-around;
}


/* App */
.App {
  position: fixed;
  background: #DA22FF;
  background: -webkit-linear-gradient(to right, #9733EE, #DA22FF);
  background: linear-gradient(to right, #9733EE, #DA22FF);

  width: 100vw;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  z-index: -2;
}

/* Admin */
.admin {
  display: flex;

  .admin-content {
    position: absolute;
    top: 0;
    left: 80px;
    color: var(--ui-white);
    padding: 20px;

    .admin-component {
      position: relative;
      background: transparent;

      .admin-tab-title {
        width: 100%;
        font-family: "Edu TAS Beginner", sans-serif;
        font-size: 30px;
        font-weight: 600;
        padding: 20px;
        margin-left: 40px;
        text-decoration: underline;
        color: var(--ui-black);
      }
    }

    @media (max-width: 768px) {
      left: 0;
      height: calc(100vh - 50px);
      padding: 5px;
    }
  }
}