/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&family=Honk&family=Ubuntu&display=swap');

/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

input, button {
  border: none;
  outline: none;

}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

/* Colors */
:root {
  --ui-primary: #3772FF;
  --ui-secondary: #DF2935;
  --ui-tertiary: #FDCA40;
  --ui-black: #080708;
  --ui-light-black: #1E1E1E;
  --ui-light-grey: #F5F5F5;
  --ui-dark-grey: #2E2E2E;
  --ui-white: #FFF;

  --header-height: 80px;
  --navbar-width: 80px;
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    width: 2px;
    background: black;
}

::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
}


/* App */
.App {
  position: fixed;
  background: var(--ui-black);
  width: 100vw;
  height: 100vh;
  font-family: 'Ubuntu', sans-serif;
  z-index: -2;
}

/* Admin */
.admin {
  display: flex;

  .admin-content {
    position: absolute;
    top: 0;
    left: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--ui-white);
    padding: 20px;
    background: var(--ui-black);

    .admin-component {
      background: transparent;


      .admin-tab-title {
        width: 100%;
        font-family: "Edu TAS Beginner", sans-serif;
        font-size: 30px;
        font-weight: 600;
        padding: 20px;
        margin-left: 40px;
        text-decoration: underline;
      }
    }

    @media (max-width: 768px) {
      left: 0;
      height: calc(100vh - 50px);
      padding: 5px;
    }
  }
}