/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&family=Honk&family=Ubuntu&display=swap');

/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

input, button {
  border: none;
  outline: none;

}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

/* Colors */
:root {
  --ui-primary: #3772FF;
  --ui-secondary: #DF2935;
  --ui-tertiary: #FDCA40;
  --ui-black: #080708;
  --ui-white: #FFF;

  --header-height: 80px;
  --navbar-width: 80px;
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    width: 2px;
    background: black;
}

::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
}


/* App */
.App {
  background: var(--ui-primary);
  width: 100vw;
  height: 100vh;
  font-family: 'Ubuntu', sans-serif;
}


/* Pages styling */
.sign-in {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .form-wrapper {
    width: 50%;
    height: 100%;
    background: var(--ui-white);
    display: flex;


    .left {
      width: 50%;
      background: linear-gradient(to left, var(--ui-secondary), var(--ui-black));
      color: white;
      padding: 20px;

      .brand {
        font-family: cursive;
        font-size: 16px;
        font-weight: 700;
        width: 80px;
      }

      .large-text {
        font-size: 38px;
        font-weight: 600;
        padding: 20px;
      }

      .small-text {
        padding: 20px;
        font-family: monospace;
      }
    }

    .right {
      width: 50%;
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;

      .back-btn {
        position: absolute;
        top: 20px;
        right: 40px;
        font-size: 24px;
        width: 30px;
        height: 30px;
        display: grid;
        place-items: center;
        border-radius: 50%;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
          color: white;
          background: var(--ui-secondary);
        }
      }

      .form-title {
        width: 100%;
        font-size: 30px;
        font-weight: 600;
        text-align: left;
        margin: 20px;
      }

      .fields {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 30%;

        .field {
          width: 100%;

          label {
            font-family: monospace;
          }

          input {
            width: 100%;
            padding: 4px 10px;
            border: 2px solid var(--ui-black);
            border-radius: 6px;
            transition: all 0.3s ease;

            &:active, &:focus, &:not(:empty) {
              border: 2px solid var(--ui-secondary);
            }
          }
        }
      }

      button.submit {
        width: 100%;
        padding: 10px 20px;
        border-radius: 10px;
        background: var(--ui-black);
        color: white;
        font-family: monospace;
        font-size: 18px;
        font-weight: 600;
        cursor: pointer;
        transition: all 0.3s ease;
        margin-bottom: 40px;

        &:hover {
          background: transparent;
          background: var(--ui-secondary);
        }
      }

      .or {
        position: relative;
        width: 100%;
        height: 2px;
        background: black;
        margin-bottom: 20px;

        &::after {
          content: 'or';
          position: absolute;
          width: 10%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background: white;
          color: black;
          text-align: center;
        }
      }

      .other-links {
        width: 100%;
        margin-bottom: 10px;

        .link {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          border: 2px solid var(--ui-secondary);
          border-radius: 5px;
          padding: 10px 20px;
          margin-block: 10px;
          cursor: pointer;


          .icon {
            width: 20%;
            height: 30px;
            font-size: 20px;
            display: flex;
            align-items: center;
            justify-content: flex-start;

          }

          span {
            width: 80%;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }

      .form-footer {
        font-size: 16px;
        
        a {
          font-weight: 600;
          text-decoration: none;
          color: var(--ui-secondary);
          cursor: pointer;
        }
      }
    }
  }
}